<div class="col-sm-4">
	<div class="content-address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<strong class="content-headline{% if include.view == "result" %} hidden-xs{% endif %}">Address</strong>
		<p>
			<span itemprop="streetAddress">
				Shop 1021 - 1022<br>
				Westfield Shopping Town, Macquarie Street
			</span><br>
			<span itemprop="addressLocality">Liverpool</span>,
			<span itemprop="addressRegion">NSW</span>
			<span itemprop="postalCode">2170</span><br>
			<span class="sr-only" itemprop="addressCountry">Australia</span>
			<span>BSB <strong>032 016</strong></span>
		</p>
	</div>

	<p>
		Call: <a href="tel:0292636666">02 9263 6666</a>
	</p>
</div>

<div class="col-sm-4">
	<strong class="content-headline{% if include.view == "result" %} hidden-xs{% endif %}">Opening hours</strong>
	<dl class="hours{% if include.view == "result" %} hidden-xs{% endif %}">
		<dt>Mon</dt>
		<dd><strong>9.30am - 4pm</strong></dd>

		<dt>Tue</dt>
		<dd><strong>9.30am - 4pm</strong></dd>

		<dt>Wed</dt>
		<dd><strong>9.30am - 4pm</strong></dd>

		<dt>Thur</dt>
		<dd><strong>9.30am - 4pm</strong></dd>

		<dt>Fri</dt>
		<dd><strong>9.30am - 5pm</strong></dd>

		<dt>Sat</dt>
		<dd><strong>9.30am - 3pm</strong></dd>
	</dl>

	<p class="text-info">
		Open until 4PM today
	</p>

</div>

<div class="col-sm-4">
	<strong class="content-headline{% if include.view == "result" %} hidden-xs{% endif %}">At this branch</strong>
	<ul class="content-list lists lists-hero">
		<li>
			Open Saturday
		</li>
		<li{% if include.view == "result" %} class="hidden-xs"{% endif %}>
			Cash exchange machine
		</li>
		<li{% if include.view == "result" %} class="hidden-xs"{% endif %}>
			Coin deposit machine
		</li>
		<li{% if include.view == "result" %} class="hidden-xs"{% endif %}>
			Internet banking kiosk
		</li>
		<li{% if include.view == "result" %} class="hidden-xs"{% endif %}>
			Night safe
		</li>
		<li{% if include.view == "result" %} class="hidden-xs"{% endif %}>
			Safe deposit box
		</li>
		<li{% if include.view == "result" %} class="hidden-xs"{% endif %}>
			Business banker
		</li>
		<li{% if include.view == "result" %} class="hidden-xs"{% endif %}>
			Financial planner
		</li>
		<li{% if include.view == "result" %} class="hidden-xs"{% endif %}>
			Home lender
		</li>
		<li{% if include.view == "result" %} class="hidden-xs"{% endif %}>
			Migration services expert
		</li>
	</ul>
</div>