<div class="row listing">
	<div class="col-sm-12" itemscope itemtype="http://schema.org/Corporation">
		<div class="listing-row">
			<a class="resulthead clearfix" itemprop="url" href="#url">
				<h2 class="body-font resulthead-name" itemprop="name">Liverpool</h2>
				<p class="resulthead-type" itemprop="description">Branch/ATM</p>
				<span class="resulthead-link">See more branch details</span>
			</a>

			{% include module/directionbox.liquid %}

			<div class="row listing-detail">
				{% include branch/content.liquid  view = "result" %}
			</div>

			<div class="row">
				<div class="col-sm-12">

					<div class="alert alert-info" role="alert">
						<span class="alert-icon icon icon-size-md icon-info" data-grunticon-embed></span>

						<div class="alert-body">
							Moorebank Branch is temporarily closed - This branch is being renovated and will be closed until the 30th December 2014.
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>