<form class="searchbox well well-responsive">
	<div class="row">
		<div class="col-sm-7">
			<div class="row searchbox-line">
				<div class="col-sm-4">
					<label class="searchbox-label" for="where">Where</label>
				</div>
				<div class="col-sm-8 searchbox-input-wrapper">
					<input class="searchbox-input input-field" id="where" name="where" type="text" placeholder="Suburb, postcode, address or BSB" disabled>
					<button class="searchbox-iconbtn btn btn-link" type="button">
						<span class="icon icon-size-sm icon-geolocation"></span>
					</button>
				</div>
			</div>

			<div class="row searchbox-line">
				<div class="col-sm-4">
					<label class="searchbox-label" for="find">Find</label>
				</div>
				<div class="col-sm-8">
					<div class="input-field-select-wrapper searchbox-find">
						<select class="input-field-select" id="find" name="find" disabled>
							<option value="Branches">Branches</option>
							<option value="ATMs">ATMs</option>
							<option value="Cash Exchange Machines">Cash Exchange Machines</option>
							<option value="Coin Deposit Machines">Coin Deposit Machines</option>
							<option value="Experts">Experts</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<p class="lead hidden-xs">
				Looking for a branch, ATM, after-hours coin deposit or just some expert advice? You can search by address, suburb, postcode or BSB.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-7">
			<div class="row searchbox-line">
				<div class="col-sm-12 col-sm-offset-4">
					{% include module/checkbox.liquid  text = "Open Saturdays" name = "openSaturdays" disabled = 'true' %}
					<a href="#searchbox-options" class="searchbox-optionsbtn link-more{{ include.class }}">{{ include.text }} options</a>
				</div>
			</div>
		</div>
	</div>

	<div id="searchbox-options" class="row"{{ include.style }}>
		<div class="col-sm-7">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-4">
					<ul class="searchbox-moreoptions lists-unstyled">
						<li class="searchbox-line">
							{% include module/checkbox.liquid  text = "Safe deposit box" name = "safeDepositBox" disabled = 'true' %}
							{% include module/help.liquid  title = "Safe deposit box" text = "More information about this item..." %}
						</li>
						<li class="searchbox-line">
							{% include module/checkbox.liquid  text = "Disabled access" name = "disabledAccess" disabled = 'true' %}
							{% include module/help.liquid  title = "Disabled access" text = "More information about this item..." %}
						</li>
						<li class="searchbox-line">
							{% include module/checkbox.liquid  text = "Foreign currency" name = "foreignCurrency" disabled = 'true' %}
						</li>
						<li class="searchbox-line">
							{% include module/checkbox.liquid  text = "Internet banking kiosk" name = "internetBankingKiosk" disabled = 'true' %}
						</li>
						<li class="searchbox-line">
							{% include module/checkbox.liquid  text = "Night safe" name = "nightSafe" disabled = 'true' %}
							{% include module/help.liquid  title = "Night safe" text = "More information about this item..." %}
						</li>
						<li class="searchbox-line">
							{% include module/checkbox.liquid  text = "Open late pension Thursdays" name = "openLatePensionThursdays" disabled = 'true' %}
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-5">
			<ul class="searchbox-moreoptions lists-unstyled">
				<li class="searchbox-line">
					Financial experts in branch
				</li>
				<li class="searchbox-line">
					{% include module/checkbox.liquid  text = "Home finance manager" name = "homeFinanceManager" disabled = 'true' %}
				</li>
				<li class="searchbox-line">
					{% include module/checkbox.liquid  text = "Agribusiness banker" name = "agribusinessBanker" disabled = 'true' %}
				</li>
				<li class="searchbox-line">
					{% include module/checkbox.liquid  text = "Financial planner" name = "financialPlanner" disabled = 'true' %}
				</li>
				<li class="searchbox-line">
					{% include module/checkbox.liquid  text = "Business banker" name = "businessBanker" disabled = 'true' %}
				</li>
				<li class="searchbox-line">
					{% include module/checkbox.liquid  text = "Migration services expert" name = "migrationServicesExpert" disabled = 'true' %}
				</li>
				<li class="searchbox-line">
					<div class="input-field-select-wrapper searchbox-languages">
						<select class="input-field-select" id="language" name="language" disabled>
							<option value="Language spoken in branch">Language spoken in branch</option>
							<option value="Afrikaans">Afrikaans</option>
							<option value="Arabic">Arabic</option>
							<option value="Bahasa Indonesia">Bahasa Indonesia</option>
							<option value="Bahasa Malaysia">Bahasa Malaysia</option>
							<option value="Bengali">Bengali</option>
							<option value="Cantonese">Cantonese</option>
							<option value="Afrikaans">Afrikaans</option>
							<option value="Arabic">Arabic</option>
							<option value="Bahasa Indonesia">Bahasa Indonesia</option>
							<option value="Bahasa Malaysia">Bahasa Malaysia</option>
							<option value="Bengali">Bengali</option>
							<option value="Cantonese">Cantonese</option>
							<option value="Chinese">Chinese</option>
							<option value="Croation">Croation</option>
							<option value="German">German</option>
							<option value="Greek">Greek</option>
							<option value="Gujarati">Gujarati</option>
							<option value="Hindi">Hindi</option>
							<option value="Hungarian">Hungarian</option>
							<option value="Italian">Italian</option>
							<option value="Japanese">Japanese</option>
							<option value="Korean">Korean</option>
							<option value="Lebanese">Lebanese</option>
							<option value="Macedonain">Macedonain</option>
							<option value="Mandarin">Mandarin</option>
							<option value="Persian">Persian</option>
							<option value="Polish">Polish</option>
							<option value="Portugese">Portugese</option>
							<option value="Punjabi">Punjabi</option>
							<option value="Russian">Russian</option>
							<option value="Sinhala">Sinhala</option>
							<option value="Spanish">Spanish</option>
							<option value="Tagalog">Tagalog</option>
							<option value="Taiwanese">Taiwanese</option>
							<option value="Tamil">Tamil</option>
							<option value="Telugu">Telugu</option>
							<option value="Thai">Thai</option>
							<option value="Turkish">Turkish</option>
							<option value="Urdu">Urdu</option>
							<option value="Vietnamese">Vietnamese</option>
						</select>
					</div>
					{% include module/help.liquid  title = "Language spoken in branch" text = "More information about this item..." %}
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-7">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-4">
					<div class="row">
						<div class="col-sm-8">
							<button class="btn btn-primary btn-block" type="submit" disabled>Search</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>