<div class="row listing">
	<div class="col-sm-12" itemscope itemtype="http://schema.org/Corporation">
		<div class="listing-row">
			<span class="resulthead clearfix">
				<img class="resulthead-image" src="https://placehold.it/152x152?text=face">
				<h2 class="body-font resulthead-name" itemprop="name">Daniel Botros</h2>
				<p class="resulthead-type" itemprop="description">Home Finance Manager</p>
			</span>

			{% include module/directionbox.liquid %}

			<div class="row listing-detail">
				<div class="col-sm-4">
					<div class="listing-address">
						<strong class="listing-headline hidden-xs">Address</strong>
						<p>
							Direct mobile: <a href="tel:0403952661">0403 952 661</a><br>
							Email: <a href="mailto:dbotros@westpac.com.au">dbotros@westpac.com.au</a>
						</p>
						<p class="text-muted">
							I can help you with any mortgage or property related advice.
						</p>
						<p class="text-info">
							<span class="icon icon-size-sm icon-global" data-grunticon-embed></span>
							I speak English, Italian
						</p>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="listing-address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						<strong class="listing-headline hidden-xs">Liverpool Branch</strong>
						<p>
							<span itemprop="streetAddress">
								Shop 1021-1022, Westfield<br>
								Shopping Town, Macquarie Street
							</span><br>
							<span itemprop="addressLocality">Liverpool</span>,
							<span itemprop="addressRegion">NSW</span>
							<span itemprop="postalCode">2170</span><br>
							<span class="sr-only" itemprop="addressCountry">Australia</span>
							<span>BSB: 032-075</span>
						</p>
						<p>
							Branch: <a href="tel:0292636666">02 9263 6666</a>
						</p>
					</div>
				</div>

				<div class="col-sm-4">
					<strong class="listing-headline hidden-xs">Opening hours</strong>
					<dl class="hours hidden-xs">
						<dt>Mon</dt>
						<dd><strong>9:30am - 11pm</strong></dd>

						<dt>Tue</dt>
						<dd><strong>9:30am - 11pm</strong></dd>

						<dt>Wed</dt>
						<dd><strong>9:30am - 11pm</strong></dd>

						<dt>Thur</dt>
						<dd><strong>9:30am - 11pm</strong></dd>

						<dt>Fri</dt>
						<dd><strong>9:30am - 11pm</strong></dd>

						<dt>Sat</dt>
						<dd><strong>9:30am - 11pm</strong></dd>
					</dl>

					<p class="text-info">
						Open until 4PM today
					</p>

				</div>
			</div>

		</div>
	</div>
</div>