<div class="row listing">
	<div class="col-sm-12" itemscope itemtype="http://schema.org/Corporation">
		<div class="listing-row">
			<span class="resulthead clearfix">
				<img class="resulthead-image expert-image" src="https://placehold.it/152x152?text=face">
				<h2 class="body-font resulthead-name" itemprop="name">Daniel Botros</h2>
				<p class="resulthead-type" itemprop="description">Home Finance Manager</p>
			</span>

			{% include module/directionbox.liquid %}

			<div class="row listing-detail">
				{% include experts/content.liquid  view = "result" %}
			</div>

		</div>
	</div>
</div>