<form class="searchbox well">
	<div class="row">
		<div class="col-sm-7">
			<div class="row">
				<div class="col-sm-4">
					<label class="searchbox-label" for="where">Where</label>
				</div>
				<div class="col-sm-8 searchbox-input-wrapper">
					<input class="searchbox-input input-field" id="where" name="where" type="text" placeholder="Suburb, postcode, address or BSB">
					<button class="searchbox-iconbtn btn btn-link" type="button" type="button">
						<span class="icon icon-size-sm icon-geolocation"></span>
					</button>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<label class="searchbox-label" for="find">Find</label>
				</div>
				<div class="col-sm-8">
					<div class="input-field-select-wrapper">
						<select class="input-field-select" id="find" name="find">
							<option value="Branches">Branches</option>
							<option value="ATMs">ATMs</option>
							<option value="Cash Exchange Machines">Cash Exchange Machines</option>
							<option value="Coin Deposit Machines">Coin Deposit Machines</option>
							<option value="Experts">Experts</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-5">
			<p class="lead hidden-xs">
				Looking for a branch, ATM, after-hours coin deposit or just some expert advice? You can search by address, suburb, postcode or BSB.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-7">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-4">
					@@include('module/checkbox.html', {"text": "Open Saturdays", "name": "openSaturdays"})
					<button class="searchbox-optionsbtn btn btn-link" type="button">
						<span class="searchbox-optionsbtn-more">More</span>
						<span class="searchbox-optionsbtn-more">Less</span>
						options
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-7">
			<div class="row">
				<div class="col-sm-5 col-sm-offset-4">
					<ul class="searchbox-moreoptions">
						<li>
							@@include('module/checkbox.html', {"text": "Safe deposit box", "name": "safeDepositBox"})
							@@include('module/help.html', {"text": "More information about this item"})
						</li>
						<li>
							@@include('module/checkbox.html', {"text": "Disabled access", "name": "disabledAccess"})
							@@include('module/help.html', {"text": "More information about this item..."})
						</li>
						<li>
							@@include('module/checkbox.html', {"text": "Foreign currency", "name": "foreignCurrency"})
						</li>
						<li>
							@@include('module/checkbox.html', {"text": "Internet banking kiosk", "name": "internetBankingKiosk"})
						</li>
						<li>
							@@include('module/checkbox.html', {"text": "Night safe", "name": "nightSafe"})
							@@include('module/help.html', {"text": "More information about this item..."})
						</li>
						<li>
							@@include('module/checkbox.html', {"text": "Open late pension Thursdays", "name": "openLatePensionThursdays"})
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-5">
			<ul class="searchbox-moreoptions">
				<li>
					Financial experts in branch
				</li>
				<li>
					@@include('module/checkbox.html', {"text": "Home finance manager", "name": "homeFinanceManager"})
				</li>
				<li>
					@@include('module/checkbox.html', {"text": "Agribusiness banker", "name": "agribusinessBanker"})
				</li>
				<li>
					@@include('module/checkbox.html', {"text": "Financial planner", "name": "financialPlanner"})
				</li>
				<li>
					@@include('module/checkbox.html', {"text": "Business banker", "name": "businessBanker"})
				</li>
				<li>
					@@include('module/checkbox.html', {"text": "Migration services expert", "name": "migrationServicesExpert"})
				</li>
				<li>
					<div class="input-field-select-wrapper">
						<select class="input-field-select" id="language" name="language">
							<option value="Language spoken in branch">Language spoken in branch</option>
							<option value="Afrikaans">Afrikaans</option>
							<option value="Arabic">Arabic</option>
							<option value="Bahasa Indonesia">Bahasa Indonesia</option>
							<option value="Bahasa Malaysia">Bahasa Malaysia</option>
							<option value="Bengali">Bengali</option>
							<option value="Cantonese">Cantonese</option>
							<option value="Afrikaans">Afrikaans</option>
							<option value="Arabic">Arabic</option>
							<option value="Bahasa Indonesia">Bahasa Indonesia</option>
							<option value="Bahasa Malaysia">Bahasa Malaysia</option>
							<option value="Bengali">Bengali</option>
							<option value="Cantonese">Cantonese</option>
							<option value="Chinese">Chinese</option>
							<option value="Croation">Croation</option>
							<option value="German">German</option>
							<option value="Greek">Greek</option>
							<option value="Gujarati">Gujarati</option>
							<option value="Hindi">Hindi</option>
							<option value="Hungarian">Hungarian</option>
							<option value="Italian">Italian</option>
							<option value="Japanese">Japanese</option>
							<option value="Korean">Korean</option>
							<option value="Lebanese">Lebanese</option>
							<option value="Macedonain">Macedonain</option>
							<option value="Mandarin">Mandarin</option>
							<option value="Persian">Persian</option>
							<option value="Polish">Polish</option>
							<option value="Portugese">Portugese</option>
							<option value="Punjabi">Punjabi</option>
							<option value="Russian">Russian</option>
							<option value="Sinhala">Sinhala</option>
							<option value="Spanish">Spanish</option>
							<option value="Tagalog">Tagalog</option>
							<option value="Taiwanese">Taiwanese</option>
							<option value="Tamil">Tamil</option>
							<option value="Telugu">Telugu</option>
							<option value="Thai">Thai</option>
							<option value="Turkish">Turkish</option>
							<option value="Urdu">Urdu</option>
							<option value="Vietnamese">Vietnamese</option>
						</select>
					</div>
					@@include('module/help.html', {"text": "More information about this item..."})
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-7">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-4">
					<div class="row">
						<div class="col-sm-6">
							<button class="btn btn-primary btn-block" type="submit">Search</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>