<div class="row searchresult">
	<div class="col-sm-7">
		<strong class="searchresult-filtertext">
			Your closest branch is:
		</strong>
	</div>

	<div class="col-sm-5 text-right">
		<button type="button" class="searchresult-btn btn btn-hero btn-soft">
			<span class="btn-icon btn-icon-left icon icon-size-sm icon-map-pin" data-grunticon-embed></span>
			<span class="btn-text">View on map</span>
		</button>
	</div>
</div>


<div class="row">
	<div class="col-sm-12">
		<ol class="result lists-unstyled">
			<li class="result-item">
				{% include module/listing-branch-atm.liquid %}
			</li>
		</ol>
	</div>
</div>


{% include module/search-bottom.liquid %}