<div class="directionbox panel panel-faint">
	<div class="directionbox-body panel-body text-right">
		<strong>
			<span class="directionbox-time">5</span>
			min
		</strong>
		<span class="hidden-xs">away by:</span>

		<div class="btn-group">
			<label class="btn-group-item">
				<input class="btn-group-input" type="radio" name="transport-type" checked>
				<span class="btn-group-text btn btn-hero">
					<span class="btn-icon btn-icon-left icon icon-size-sm icon-walk" data-grunticon-embed></span>
				</span>
			</label>

			<label class="btn-group-item hidden-xs">
				<input class="btn-group-input" type="radio" name="transport-type">
				<span class="btn-group-text btn btn-hero">
					<span class="btn-icon btn-icon-left icon icon-size-sm icon-car" data-grunticon-embed></span>
				</span>
			</label>

			<label class="btn-group-item hidden-xs">
				<input class="btn-group-input" type="radio" name="transport-type">
				<span class="btn-group-text btn btn-hero">
					<span class="btn-icon btn-icon-left icon icon-size-sm icon-transport" data-grunticon-embed></span>
				</span>
			</label>
		</div>

	</div>
	<div class="panel-footer text-right">
		<a class="directionbox-link" href="#url">
			Map
			<span class="hidden-xs">&amp; directions</span>
		</a>
	</div>
</div>