{% assign id = id | plus: 1 %}

{% assign maptext = 'Map &amp; directions' %}
{% if include.map == 'true' %}
	{% assign maptext = 'Get directions' %}
{% endif %}

<div class="directionbox panel panel-faint">
	<div class="directionbox-body panel-body text-right">
		<span class="directionbox-text">
			<strong>
				<span class="directionbox-time">5</span>
				min
			</strong>
			away by:
		</span>

		<div class="btn-group">
			<label class="btn-group-item">
				<input class="btn-group-input" type="radio" name="transport-type-{{ id }}" checked>
				<span class="btn-group-text btn btn-hero">
					<span class="btn-icon btn-icon-left icon icon-size-sm icon-walk" data-grunticon-embed></span>
				</span>
			</label>

			<label class="btn-group-item">
				<input class="btn-group-input" type="radio" name="transport-type-{{ id }}">
				<span class="btn-group-text btn btn-hero">
					<span class="btn-icon btn-icon-left icon icon-size-sm icon-car" data-grunticon-embed></span>
				</span>
			</label>

			<label class="btn-group-item">
				<input class="btn-group-input" type="radio" name="transport-type-{{ id }}">
				<span class="btn-group-text btn btn-hero">
					<span class="btn-icon btn-icon-left icon icon-size-sm icon-transport" data-grunticon-embed></span>
				</span>
			</label>
		</div>

	</div>
	<div class="panel-footer text-right">
		<a class="directionbox-link" href="#url">
			{{ maptext }}
		</a>
	</div>
</div>