<div class="row listing">
	<div class="col-sm-12" itemscope itemtype="http://schema.org/Corporation">
		<div class="listing-row">
			<a class="listing-header" itemprop="url" href="#url">
				<h2 class="body-font listing-header-name" itemprop="name">Liverpool</h2>
				<p class="listing-header-type" itemprop="description">Branch/ATM</p>
				<span class="listing-header-link">See more branch details</span>
			</a>

			{% include module/directionbox.liquid %}

			<div class="row listing-detail">
				<div class="col-sm-4">
					<div class="listing-address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						<strong class="hidden-xs">Address</strong>
						<p>
							<span itemprop="streetAddress">
								Shop 1021 - 1022<br>
								Westfield Shopping Town, Macquarie Street
							</span><br>
							<span itemprop="addressLocality">Liverpool</span>,
							<span itemprop="addressRegion">NSW</span>
							<span itemprop="postalCode">2170</span><br>
							<span class="sr-only" itemprop="addressCountry">Australia</span>
							<span>BSB <strong>032 016</strong></span>
						</p>
					</div>

					<p>
						Call: <a href="tel:0292636666">02 9263 6666</a>
					</p>
				</div>

				<div class="col-sm-4 hidden-xs">
					<strong class="hidden-xs">Opening hours</strong>
					<dl class="hours">
						<dt>Mon</dt>
						<dd><strong>9.30am - 4pm</strong></dd>

						<dt>Tue</dt>
						<dd><strong>9.30am - 4pm</strong></dd>

						<dt>Wed</dt>
						<dd><strong>9.30am - 4pm</strong></dd>

						<dt>Thur</dt>
						<dd><strong>9.30am - 4pm</strong></dd>

						<dt>Fri</dt>
						<dd><strong>9.30am - 5pm</strong></dd>

						<dt>Sat</dt>
						<dd><strong>9.30am - 3pm</strong></dd>
					</dl>

					<p class="text-info">
						Open until 4PM today
					</p>

				</div>

				<div class="col-sm-4 hidden-xs">
					<strong class="hidden-xs">At this branch</strong>
					<ul class="lists lists-neutral">
						<li>
							Open Saturday
						</li>
						<li>
							Cash exchange machine
						</li>
						<li>
							Coin deposit machine
						</li>
						<li>
							Internet banking kiosk
						</li>
						<li>
							Night safe
						</li>
						<li>
							Safe deposit box
						</li>
						<li>
							Business banker
						</li>
						<li>
							Financial planner
						</li>
						<li>
							Home lender
						</li>
						<li>
							Migration services expert
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>