<div class="row listing">
	<div class="col-sm-12" itemscope itemtype="http://schema.org/Corporation">
		<h2 class="listing-name" itemprop="name">Liverpool</h2>
		<p class="listing-type" itemprop="description">Branch/ATM</p>
		<a class="listing-url" itemprop="url" href="#url">See more branch details</a>

		<div class="directionbox panel">
			<div class="directionbox-body panel-body">
				<strong>5 min</strong> away by:
				<ul>
					<li>
						<button type="button" class="btn btn-hero">
							<span class="btn-icon btn-icon-left icon icon-size-sm icon-walk" data-grunticon-embed></span>
						</button>
					</li>
					<li>
						<button type="button" class="btn btn-hero btn-soft">
							<span class="btn-icon btn-icon-left icon icon-size-sm icon-car" data-grunticon-embed></span>
						</button>
					</li>
					<li>
						<button type="button" class="btn btn-hero btn-soft">
							<span class="btn-icon btn-icon-left icon icon-size-sm icon-transport" data-grunticon-embed></span>
						</button>
					</li>
				</ul>
			</div>
			<div class="panel-footer">
				<a class="directionbox-link" href="#url">
					Map
					<span class="hidden-xs">&amp; directions</span>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<div class="listing-address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<strong>Address</strong>
					<p>
						<span itemprop="streetAddress">
							Shop 1021 - 1022<br>
							Westfield Shopping Town, Macquarie Street
						</span><br>
						<span itemprop="addressLocality">Liverpool</span>,
						<span itemprop="addressRegion">NSW</span>
						<span itemprop="postalCode">2170</span><br>
						<span class="sr-only" itemprop="addressCountry">Australia</span>
						<span>BSB <strong>032 016</strong></span>
					</p>
				</div>

				<p>
					Call: <a href="tel:0292636666">02 9263 6666</a>
				</p>
			</div>

			<div class="col-sm-4 hidden-xs">
				<strong>At this branch</strong>
				<ul class="lists lists-neutral">
					<li>
						Open Saturday
					</li>
					<li>
						Cash exchange machine
					</li>
					<li>
						Coin deposit machine
					</li>
					<li>
						Internet banking kiosk
					</li>
					<li>
						Night safe
					</li>
					<li>
						Safe deposit box
					</li>
					<li>
						Business banker
					</li>
					<li>
						Financial planner
					</li>
					<li>
						Home lender
					</li>
					<li>
						Migration services expert
					</li>
				</ul>
			</div>

			<div class="col-sm-4 hidden-xs">
				<strong>Opening hours</strong>
				<dl class="listing-hours">
					<dt>Mon</dt>
					<dd>Mon 9.30am - 4pm</dd>

					<dt>Tue</dt>
					<dd>9.30am - 4pm</dd>

					<dt>Wed</dt>
					<dd>9.30am - 4pm</dd>

					<dt>Thur</dt>
					<dd>9.30am - 4pm</dd>

					<dt>Fri</dt>
					<dd>9.30am - 5pm</dd>

					<dt>Sat</dt>
					<dd>9.30am - 3pm</dd>
				</dl>

				<p class="text-info">
					Open until 4PM today
				</p>

			</div>
		</div>

	</div>
</div>