<div class="row">
	<div class="col-sm-6">
		<button type="button" class="btn btn-hero btn-soft btn-block">
			<span class="btn-icon btn-icon-left icon icon-size-sm icon-search" data-grunticon-embed></span>
			<span class="btn-text">Search again</span>
		</button>
	</div>

	<div class="col-sm-6 text-right">
		<button type="button" class="btn btn-hero btn-soft btn-block">
			Show more results
		</button>
	</div>
</div>