<div class="row searchbottom">
	<div class="col-sm-4 col-lg-2">
		<button type="button" class="btn btn-neutral btn-soft btn-block">
			<span class="btn-icon btn-icon-left icon icon-size-sm icon-search" data-grunticon-embed></span>
			<span class="btn-text">Search again</span>
		</button>
	</div>

	<div class="col-sm-4 col-lg-2 col-lg-offset-3">
		<button type="button" class="btn btn-hero btn-soft btn-block">
			<span class="btn-icon btn-icon-left icon icon-size-sm icon-map-pin" data-grunticon-embed></span>
			<span class="btn-text">View on map</span>
		</button>
	</div>

	<div class="col-sm-4 col-lg-2 col-lg-offset-3">
		<button type="button" class="btn btn-neutral btn-soft btn-block">
			Show more results
		</button>
	</div>
</div>