/* directionbox stylings */

.directionbox {

	.directionbox-time {
		display: inline-block;
		min-width: 29px;
	}

	.panel-footer {
		display: none;
	}

	@media (min-width: @screen-sm) {
		float: right;

		.panel-footer {
			display: block;
		}
	}

	.btn-group {
		margin-left: 6px;
	}

	.btn-group-text {
		min-width: 50px;
	}
}