/* GUI fixes */

// https://github.com/WestpacCXTeam/GUI-source/issues/185
.btn-group-input:checked+.btn .icons-background {
	fill: #fff;
}

// https://github.com/WestpacCXTeam/GUI-source/issues/190
.text-info {
	.icons-background {
		fill: @color-Info;
	}
}

// https://github.com/WestpacCXTeam/GUI-source/issues/189
.alert {
	&.alert-success {
		.alert-icon {
			path {
				fill: @color-Success;
			}
		}
	}

	&.alert-info {
		.alert-icon {
			path {
				fill: @color-Info;
			}
		}
	}

	&.alert-warning {
		.alert-icon {
			path {
				fill: @color-Warning;
			}
		}
	}

	&.alert-danger {
		.alert-icon {
			path {
				fill: @color-Danger;
			}
		}
	}

	&.alert-system {
		.alert-icon {
			path {
				fill: #000;
			}
		}
	}
}

// https://github.com/WestpacCXTeam/GUI-source/issues/191
.btn-group {
	font-family: sans-serif;

	.btn-group-item {
		font-family: @fontfamily;
	}
}

// https://github.com/WestpacCXTeam/GUI-source/issues/192
.icon {
	&.icon-size-sm {
		.ie8 & {
			zoom: 0.5;
			width: 32px;
			height: 32px;
		}
	}

	&.icon-size-lg {
		.ie8 & {
			zoom: 0.5;
			width: 128px;
			height: 128px;
		}
	}
}