/* listing stylings */

.listing {
	.listing-row {
		padding-bottom: 12px;
		margin-bottom: 12px;
		border-bottom: 1px solid @color-Border;
	}

	.listing-detail {
		margin-top: 0;

		@media (min-width: @screen-sm) {
			margin-top: 24px;
			clear: both;
		}
	}

	.listing-address {
		p {
			margin-top: 0;
		}
	}

	.listing-header {
		overflow: hidden;
		min-width: 260px;

		@media (min-width: @screen-sm) {
			float: left;
		}

		.listing-header-icon {
			float: right;

			&.logo-bom-phone {
				width: 33px;
				height: 42px;
				margin-top: -12px;

				@media (min-width: @screen-sm) {
					float: left;
					margin-top: 0;
				}
			}

			&.logo-bsa-phone {
				width: 78px;
				height: 42px;
				margin-top: -11px;

				@media (min-width: @screen-sm) {
					float: left;
				}
			}

			&.logo-stg-phone {
				width: 60px;
				height: 42px;
				margin-top: -10px;

				@media (min-width: @screen-sm) {
					float: left;
				}
			}

			&.logo-wbc-phone {
				width: 59px;
				height: 37px;
				margin-top: -14px;

				@media (min-width: @screen-sm) {
					float: left;
				}
			}
		}

		&:hover,
		&:focus {
			text-decoration: none;

			.listing-header-link {
				text-decoration: underline;
			}
		}

		.listing-header-name {
			display: inline-block;
			color: @color-A;
			margin-top: 0;
		}

		.listing-header-type {
			.h2();
			display: inline-block;
			font-family: @fontfamily;
			font-weight: 300;
			color: @color-A;
			margin-top: 0;

			&:before {
				content: " - ";
				display: inline-block;
				margin-right: 3px;
			}
		}

		.listing-header-link {
			display: none;
			clear: both;
		}

		@media (min-width: @screen-sm) {
			.listing-header-name {
				display: block;
				color: @color-B;
			}

			.listing-header-type {
				color: @color-Text;
				font-size: 14px;
				display: block;

				&:before {
					display: none;
				}
			}

			.listing-header-link {
				display: block;
			}
		}

		@media (max-width: (@screen-sm - 1)) {
			.listing-header-name,
			.listing-header-type {
				font-size: 14px;
			}
		}
	}

	.alert {
		margin-top: 12px;
		margin-bottom: -13px;

		@media (max-width: (@screen-sm - 1)) {
			padding: 6px 6px 6px 12px;

			.alert-icon {
				margin-top: 3px;
			}
		}

		&.alert-success {
			.alert-icon {
				path {
					fill: @color-Success;
				}
			}
		}

		&.alert-info {
			.alert-icon {
				path {
					fill: @color-Info;
				}
			}
		}

		&.alert-warning {
			.alert-icon {
				path {
					fill: @color-Warning;
				}
			}
		}

		&.alert-danger {
			.alert-icon {
				path {
					fill: @color-Danger;
				}
			}
		}

		&.alert-system {
			.alert-icon {
				path {
					fill: #000;
				}
			}
		}
	}
}