/* pill stylings */

.pill {
	display: inline-block;
	background-color: #000;
	color: #fff;
	border-radius: 3px;
	padding: 3px 6px;
	margin: 3px;
	font-size: 12px;
	line-height: 1;
	vertical-align: middle;

	.pill-button .icons-background {
		fill: #fff;
	}
}