.checkbox-input:disabled + .checkbox-text:after,
.symbol-checkbox-off-disabled { background-image: url('../img/checkbox-off-disabled.png'); background-repeat: no-repeat; }

.checkbox-input + .checkbox-text:after,
.symbol-checkbox-off { background-image: url('../img/checkbox-off.png'); background-repeat: no-repeat; }

.checkbox-input:disabled:checked + .checkbox-text:after,
.symbol-checkbox-on-disabled { background-image: url('../img/checkbox-on-disabled.png'); background-repeat: no-repeat; }

.checkbox-input:checked + .checkbox-text:after,
.symbol-checkbox-on { background-image: url('../img/checkbox-on.png'); background-repeat: no-repeat; }

.icon-credit-card,
.symbol-credit-card { background-image: url('../img/credit-card.png'); background-repeat: no-repeat; }

.icon-dollar,
.symbol-dollar { background-image: url('../img/dollar.png'); background-repeat: no-repeat; }

.icon-growth,
.symbol-growth { background-image: url('../img/growth.png'); background-repeat: no-repeat; }

.icon-limit,
.symbol-limit { background-image: url('../img/limit.png'); background-repeat: no-repeat; }

.icon-money-in,
.symbol-money-in { background-image: url('../img/money-in.png'); background-repeat: no-repeat; }

.icon-money-out,
.symbol-money-out { background-image: url('../img/money-out.png'); background-repeat: no-repeat; }

.icon-percent,
.symbol-percent { background-image: url('../img/percent.png'); background-repeat: no-repeat; }

.icon-save,
.symbol-save { background-image: url('../img/save.png'); background-repeat: no-repeat; }

.icon-super,
.symbol-super { background-image: url('../img/super.png'); background-repeat: no-repeat; }

.icon-switch,
.symbol-switch { background-image: url('../img/switch.png'); background-repeat: no-repeat; }

.icon-accessibility,
.symbol-accessibility { background-image: url('../img/accessibility.png'); background-repeat: no-repeat; }

.icon-car,
.symbol-car { background-image: url('../img/car.png'); background-repeat: no-repeat; }

.icon-geolocation,
.symbol-geolocation { background-image: url('../img/geolocation.png'); background-repeat: no-repeat; }

.icon-map-pin,
.symbol-map-pin { background-image: url('../img/map-pin.png'); background-repeat: no-repeat; }

.icon-map,
.symbol-map { background-image: url('../img/map.png'); background-repeat: no-repeat; }

.icon-transport,
.symbol-transport { background-image: url('../img/transport.png'); background-repeat: no-repeat; }

.icon-walk,
.symbol-walk { background-image: url('../img/walk.png'); background-repeat: no-repeat; }

.icon-wheelchair,
.symbol-wheelchair { background-image: url('../img/wheelchair.png'); background-repeat: no-repeat; }

.icon-download,
.symbol-download { background-image: url('../img/download.png'); background-repeat: no-repeat; }

.icon-new-window,
.symbol-new-window { background-image: url('../img/new-window.png'); background-repeat: no-repeat; }

.icon-refresh,
.symbol-refresh { background-image: url('../img/refresh.png'); background-repeat: no-repeat; }

.icon-search,
.symbol-search { background-image: url('../img/search.png'); background-repeat: no-repeat; }

.icon-upload,
.symbol-upload { background-image: url('../img/upload.png'); background-repeat: no-repeat; }

.icon-write,
.symbol-write { background-image: url('../img/write.png'); background-repeat: no-repeat; }

.icon-book,
.symbol-book { background-image: url('../img/book.png'); background-repeat: no-repeat; }

.icon-compass,
.symbol-compass { background-image: url('../img/compass.png'); background-repeat: no-repeat; }

.icon-cross,
.symbol-cross { background-image: url('../img/cross.png'); background-repeat: no-repeat; }

.icon-cube,
.symbol-cube { background-image: url('../img/cube.png'); background-repeat: no-repeat; }

.icon-global,
.symbol-global { background-image: url('../img/global.png'); background-repeat: no-repeat; }

.icon-idea,
.symbol-idea { background-image: url('../img/idea.png'); background-repeat: no-repeat; }

.icon-key,
.symbol-key { background-image: url('../img/key.png'); background-repeat: no-repeat; }

.icon-more,
.symbol-more { background-image: url('../img/more.png'); background-repeat: no-repeat; }

.icon-umbrella,
.symbol-umbrella { background-image: url('../img/umbrella.png'); background-repeat: no-repeat; }

.icon-wallet,
.symbol-wallet { background-image: url('../img/wallet.png'); background-repeat: no-repeat; }

.icon-alert,
.symbol-alert { background-image: url('../img/alert.png'); background-repeat: no-repeat; }

.icon-face-happy,
.symbol-face-happy { background-image: url('../img/face-happy.png'); background-repeat: no-repeat; }

.icon-face-hmm,
.symbol-face-hmm { background-image: url('../img/face-hmm.png'); background-repeat: no-repeat; }

.icon-face-sad,
.symbol-face-sad { background-image: url('../img/face-sad.png'); background-repeat: no-repeat; }

.icon-help,
.symbol-help { background-image: url('../img/help.png'); background-repeat: no-repeat; }

.icon-info,
.symbol-info { background-image: url('../img/info.png'); background-repeat: no-repeat; }

.lists.lists-tick > li:after,
.symbol-ticklist { background-image: url('../img/ticklist.png'); background-repeat: no-repeat; }

.logo-bom-alt,
.symbol-bom-alt { background-image: url('../img/bom-alt.png'); background-repeat: no-repeat; }

.logo-bom-phone,
.symbol-bom-phone { background-image: url('../img/bom-phone.png'); background-repeat: no-repeat; }

.logo-bom-tablet,
.symbol-bom-tablet { background-image: url('../img/bom-tablet.png'); background-repeat: no-repeat; }

.logo-bsa-alt,
.symbol-bsa-alt { background-image: url('../img/bsa-alt.png'); background-repeat: no-repeat; }

.logo-bsa-phone,
.symbol-bsa-phone { background-image: url('../img/bsa-phone.png'); background-repeat: no-repeat; }

.logo-bsa-tablet,
.symbol-bsa-tablet { background-image: url('../img/bsa-tablet.png'); background-repeat: no-repeat; }

.logo-stg-alt,
.symbol-stg-alt { background-image: url('../img/stg-alt.png'); background-repeat: no-repeat; }

.logo-stg-phone,
.symbol-stg-phone { background-image: url('../img/stg-phone.png'); background-repeat: no-repeat; }

.logo-stg-tablet,
.symbol-stg-tablet { background-image: url('../img/stg-tablet.png'); background-repeat: no-repeat; }

.logo-wbc-alt,
.symbol-wbc-alt { background-image: url('../img/wbc-alt.png'); background-repeat: no-repeat; }

.logo-wbc-phone,
.symbol-wbc-phone { background-image: url('../img/wbc-phone.png'); background-repeat: no-repeat; }

.logo-wbc-tablet,
.symbol-wbc-tablet { background-image: url('../img/wbc-tablet.png'); background-repeat: no-repeat; }

