<div class="col-sm-4">
	<div class="content-address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<strong class="content-headline{% if include.view == "result" %} hidden-xs{% endif %}">Address</strong>
		<p>
			<span itemprop="streetAddress">
				28 John Street
			</span><br>
			<span itemprop="addressLocality">Cabramatta</span>,
			<span itemprop="addressRegion">NSW</span>
			<span itemprop="postalCode">2166</span><br>
			<span class="sr-only" itemprop="addressCountry">Australia</span>
			<span>ID: ATM12718</span>
		</p>
	</div>
</div>

<div class="col-sm-4">
	<strong class="content-headline{% if include.view == "result" %} hidden-xs{% endif %}">Operating hours</strong>
	<p class="text-info">
		24 hours, 7 days
	</p>

</div>