<div class="row listing">
	<div class="col-sm-12" itemscope itemtype="http://schema.org/Corporation">
		<div class="listing-row">
			<a class="resulthead clearfix" itemprop="url" href="#url">
				<h2 class="body-font resulthead-name" itemprop="name">Bankstown Centro</h2>
				<span class="resulthead-icon logo {% cycle 'logo-bom-phone', 'svg-logo-bsa', 'logo-stg-phone', 'logo-wbc-phone' %}"></span>
				<p class="resulthead-type" itemprop="description">Cash Exchange Machine</p>
				<span class="resulthead-link">See more ATM details</span>
			</a>

			{% include module/directionbox.liquid %}

			<div class="row listing-detail">
				{% include cashmachines/content.liquid  view = "result" %}
			</div>

		</div>
	</div>
</div>