<form class="searchbox well well-responsive well-withalert">
	<div class="row">
		<div class="col-sm-7">
			<div class="row searchbox-line">
				<div class="col-sm-4">
					<label class="searchbox-label" for="where">Where</label>
				</div>
				<div class="col-sm-8 searchbox-input-wrapper">
					<input class="searchbox-input input-field" id="where" name="where" type="text" placeholder="Suburb, postcode, address or BSB">
					<button class="searchbox-iconbtn btn btn-link" type="button">
						<span class="icon icon-size-sm icon-geolocation"></span>
					</button>
				</div>
			</div>

			<div class="row searchbox-line">
				<div class="col-sm-4">
					<label class="searchbox-label" for="find">Find</label>
				</div>
				<div class="col-sm-8">
					<div class="input-field-select-wrapper searchbox-find">
						<select class="input-field-select" id="find" name="find">
							<option value="Branches">Branches</option>
							<option value="ATMs">ATMs</option>
							<option value="Cash Exchange Machines" selected>Cash Exchange Machines</option>
							<option value="Coin Deposit Machines">Coin Deposit Machines</option>
							<option value="Experts">Experts</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<p class="lead hidden-xs">
				Looking for a branch, ATM, after-hours coin deposit or just some expert advice? You can search by address, suburb, postcode or BSB.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-7">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-4">
					<div class="row">
						<div class="col-sm-8">
							<button class="btn btn-primary btn-block" type="submit">Search</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="well-alert">
		<div class="row">
			<div class="col-sm-12">
				<div class="alert alert-info" role="alert">
					<span class="alert-icon icon icon-size-md icon-dollar" data-grunticon-embed></span>

					<div class="alert-body">
						<strong>Cash Exchange Machines</strong> accept notes of any denomination in exchange for orders of rolled coin, small notes (i.e. $5, $10) and
						loose $1 coins. For the use of <strong>Westpac Bank customers</strong>.
					</div>
				</div>
			</div>
		</div>
	</div>
</form>