<div class="row listing">
	<div class="col-sm-12" itemscope itemtype="http://schema.org/Corporation">
		<div class="listing-row">
			<a class="listing-header" itemprop="url" href="#url">
				<h2 class="body-font listing-header-name" itemprop="name">Liverpool Westfield</h2>
				<span class="listing-header-icon logo {% cycle 'logo-bom-phone', 'logo-bsa-phone', 'logo-stg-phone', 'logo-wbc-phone' %}"></span>
				<p class="listing-header-type" itemprop="description">ATM only</p>
				<span class="listing-header-link">See more ATM details</span>
			</a>

			{% include module/directionbox.liquid %}

			<div class="row listing-detail">
				<div class="col-sm-4">
					<div class="listing-address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						<strong class="hidden-xs">Address</strong>
						<p>
							<span itemprop="streetAddress">
								ATM101, Retail Level 1, 124 Macquarie St
							</span><br>
							<span itemprop="addressLocality">Liverpool</span>,
							<span itemprop="addressRegion">NSW</span>
							<span itemprop="postalCode">2170</span><br>
							<span class="sr-only" itemprop="addressCountry">Australia</span>
							<span>ATM ID: ATM12718</span>
						</p>
					</div>
				</div>

				<div class="col-sm-4">
					<strong class="hidden-xs">Operating hours</strong>
					<dl class="hours hidden-xs">
						<dt>Mon</dt>
						<dd><strong>7am - 11pm</strong></dd>

						<dt>Tue</dt>
						<dd><strong>7am - 11pm</strong></dd>

						<dt>Wed</dt>
						<dd><strong>7am - 11pm</strong></dd>

						<dt>Thur</dt>
						<dd><strong>7am - 11pm</strong></dd>

						<dt>Fri</dt>
						<dd><strong>7am - 11pm</strong></dd>

						<dt>Sat</dt>
						<dd><strong>7am - 11pm</strong></dd>
					</dl>

					<p class="text-info">
						Open until 11PM today
					</p>

				</div>

				<div class="col-sm-4">
					<strong class="hidden-xs">At this branch</strong>
					<ul class="lists lists-neutral">
						<li>
							Audio ATM
						</li>
						<li>
							Accepts deposits
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>