<div class="row listing">
	<div class="col-sm-12" itemscope itemtype="http://schema.org/Corporation">
		<div class="listing-row">
			<a class="resulthead clearfix" itemprop="url" href="#url">
				<h2 class="body-font resulthead-name" itemprop="name">Bankstown Centro</h2>
				<span class="resulthead-icon logo {% cycle 'logo-bom-phone', 'logo-bsa-phone', 'logo-stg-phone', 'logo-wbc-phone' %}"></span>
				<p class="resulthead-type" itemprop="description">Coin Deposit Machines</p>
				<span class="resulthead-link">See more ATM details</span>
			</a>

			{% include module/directionbox.liquid %}

			<div class="row listing-detail">
				<div class="col-sm-4">
					<div class="listing-address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						<strong class="listing-headline hidden-xs">Address</strong>
						<p>
							<span itemprop="streetAddress">
								28 John Street
							</span><br>
							<span itemprop="addressLocality">Cabramatta</span>,
							<span itemprop="addressRegion">NSW</span>
							<span itemprop="postalCode">2166</span><br>
							<span class="sr-only" itemprop="addressCountry">Australia</span>
							<span>ID: ATM12718</span>
						</p>
					</div>
				</div>

				<div class="col-sm-4">
					<strong class="listing-headline hidden-xs">Operating hours</strong>
					<p class="text-info">
						24 hours, 7 days
					</p>

				</div>
			</div>

		</div>
	</div>
</div>