<div class="row listing">
	<div class="col-sm-12" itemscope itemtype="http://schema.org/Corporation">
		<div class="listing-row">
			<a class="resulthead clearfix" itemprop="url" href="#url">
				<h2 class="body-font resulthead-name" itemprop="name">Cabramatta</h2>
				<span class="resulthead-icon logo {% cycle 'logo-bom-phone', 'svg-logo-bsa', 'logo-stg-phone', 'logo-wbc-phone' %}"></span>
				<p class="resulthead-type" itemprop="description">Coin Deposit Machines</p>
				<span class="resulthead-link">See more ATM details</span>
			</a>

			{% include module/directionbox.liquid %}

			<div class="row listing-detail">
				{% include depositmachines/content.liquid  view = "result" %}
			</div>

			<div class="row">
				<div class="col-sm-12">

					<div class="alert alert-info" role="alert">
						<span class="alert-icon icon icon-size-md icon-wheelchair" data-grunticon-embed></span>

						<div class="alert-body">
							This ATM has been optimised for disability access. It adheres to recommendations set by the Disability Discrimination Act (DDA)
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>